body {
  margin: 0;
  background-color: #100028;
  color: white;
}
:root {
  --primary-color: blue;
  --secondary-color: #afeeee;
  --default-color: #100028;
  --hero-color: #1a094f;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 900;
  font-style: normal;
}
p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  line-height: 35px;
}

.logo {
  width: 7vw;
  height: 7vh;
}
h1 {
  position: relative;
  margin: 0;
  width: 20vw;
  text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: absolute;
  border: 3px solid var(--secondary-color);
}
h1:before {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-right: none;
  border-bottom: none;
}
h1:after {
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-left: none;
  border-top: none;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vw;
  background-color: var(--hero-color);
  color: #ddd;
}
.hero .container {
  text-align: center;
}
.hero .container .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}
.hero h1 {
  margin-bottom: 25px;
}
.hero .links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  gap: 20px;
}
/*HOMEPAGE*/
main {
  background-color: var(--default-color);
  color: #ddd;
}
.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  padding: 14px 32px 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.primary-btn:hover:before {
  height: 100%;
  width: 100%;
  color: #ddd;
}
.primary-btn:hover:after {
  height: 100%;
  width: 100%;
  color: #ddd;
}
.primary-btn:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-left: 2px solid #00bfe7;
  border-top: 2px solid #00bfe7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
.primary-btn:after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-right: 2px solid #00bfe7;
  border-bottom: 2px solid #00bfe7;
  content: "";
  z-index: -1;
  -webkit-transition: all, 0.7s;
  -o-transition: all, 0.7s;
  transition: all, 0.7s;
}
main .about {
  height: 130vh;
}
main .languages {
  height: 100vh;
}
main .services {
  background-color: black;
  height: 180vh;
}
.title {
  padding: 0;
  height: 20vh;
}
.title h2 {
  font-weight: 900;
  height: 6vh;
}
.title h3 {
  text-decoration: underline;
  text-decoration-color: #00bfe7;
  padding-left: 30px;
  font-size: 30px;
}
main .my-projects {
  height: 150vh;
}
main .contacts {
  background-color: black;
}
/*media queries*/
@media (max-width:1160px) {
  main .services {
    height: 170vh;
  }
  main .projects .my-projects .role-model {
    height: 60vh;
  }
  main .projects .my-projects .accessory-web {
    height: 60vh;
  }
  main .projects .my-projects .accessory-web .contents h1 {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  main .projects .my-projects {
    height: 250vh;
  }
  main .projects .my-projects .role-model {
    height: 110vh;
  }
  main .projects .my-projects .accessory-web {
    height: 110vh;
  }
   main .projects .my-projects .accessory-web .contents h1 {
    width: 50%;
   }
}
@media (max-width: 995px) {
  main .services {
    height: 200vh;
  }
}
@media (max-width: 880px) {
  main .services {
    height: 230vh;
  }
  main .services .web-dev {
    height: 60vh;
  }
  main .services .user-friendly {
    height: 60vh;
  }
  main .services .responsiveness {
    height: 65vh;
  }
  main .services .seo {
    height: 65vh;
  }
  main .services .single-page-apps {
    height: 65vh;
  }
  main .services .optimization {
    height: 65vh;
  }
}
@media (max-width: 750px) {
  main .services {
    display: flex;
    flex-direction: column;
    height: 400vh;
  }
}
@media (max-width: 400px) {
  main .about .languages {
    display: flex;
    flex-direction: column;
  }
}
/*ABOUT PAGE*/
.about {
  padding: 70px 120px 150px; background-color: var(--default-color);
  color: #ddd;
}
.about .container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.about .container .contents {
  width: 50%;
}
.about .container img {
  border-radius: 10px;
  height: 80vh;
}
.about .container .contents p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}
.about .container .btn-read {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15vw;
  height: 10vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}
.about .container .btn-read:hover {
  background-color: var(--secondary-color);
  color: black;
}
.about .languages h1 {
  margin-bottom: 100px;
}
.about .languages .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
}
.about .languages .container p {
  width: 90px;
  height: 90px;
  border: 5px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  transform: rotate(45deg);
  transition: transform 0.6s ease;
  margin-bottom: 20px;
  cursor: pointer;
}
.about .languages .container p:hover {
  transform: rotate(360deg);
}
.progress-bar {
  background-color: #ddd;
  border-radius: 25px;
  overflow: hidden;
  height: 20px;
  width: 30vw;
}
.progress {
  background-color: green;
  height: 100%;
  width: 0%;
  transition: width 2s ease-in-out;
}
.percent {
  padding-left: 325px;
}
/*MEDIA  QUERIES*/
@media (max-width: 1000px) {
  .about {
    height: 330vh;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    height: 190vh;
    justify-content: center;
    gap: 40px;
  }
  .about .container .contents {
    width: 100%;
    height: 60vh;
  }
  .about .container .btn-read {
    width: 40%;
  }
  .about .container img {
    width: 100%;
    height: 90vh;
  }
  .about .languages .container {
    height: 100vh;
  }
  .percent {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 630px) {
  .about {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .about {
    height: 360vh;
  }
  .about .container {
    height: 165vh;
  }
  .about .container .contents {
    height: 85vh;
  }
  .about .container .contents .btn-read {
    width: 40vw;
  }
  .about .container .contents h1 {
    width: 40%;
  }
  .about .container img {
    height: 60vh;
  }
  .about .languages h1 {
    width: 50%;
  }
  .about .languages .container {
    display: flex;
    flex-direction: column;
    height: 150vh;
    padding-left: 20px;
  }
  .about .languages .container .language-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
  }
  .progress-bar {
    width: 90%;
  }
}
/*SERVICES PAGE*/
.services {
  padding: 70px 120px 150px;
  background-color: var(--default-color);
  color: #ddd;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;
}
.services h1 {
  width: 25vw;
}

.services h2 {
  height: 16vh;
  padding-top: 43px;
  text-align: center;
}
.services .web-dev {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .single-page-apps {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .responsiveness {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .seo {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .user-friendly {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .maintenance {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .optimization {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .theming {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
.services .animations {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  height: 70vh;
}
/*media queries*/
@media (max-width: 1000px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .services h2 {
    height: 9vh;
  }
  .services .web-dev {
    height: 50vh;
  }
  .services .single-page-apps {
    height: 50vh;
  }
  .services .responsiveness {
    height: 50vh;
  }
  .services .seo {
    height: 50vh;
  }
  .services .user-friendly {
    height: 50vh;
  }
  .services .maintenance {
    height: 50vh;
  }
  .services .optimization {
    height: 50vh;
  }
  .services .theming {
    height: 50vh;
  }
  .services .animations {
    height: 50vh;
  }
}
@media (max-width: 700px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services .web-dev {
    width: 90%;
    height: 40vh;
  }
  .services .single-page-apps {
    height: 40vh;
    width: 90%;
  }
  .services .responsiveness {
    height: 40vh;
    width: 90%;
  }
  .services .seo {
    height: 40vh;
    width: 90%;
  }
  .services .user-friendly {
    height: 40vh;
    width: 90%;
  }
  .services .maintenance {
    height: 40vh;
    width: 90%;
  }
  .services .optimization {
    height: 45vh;
    width: 90%;
  }
  .services .theming {
    height: 50vh;
    width: 90%;
  }
  .services .animations {
    height: 50vh;
    width: 90%;
  }
}
@media (max-width: 570px) {
  .services {
    padding: 10px 10px 10px 10px;
  }
}
@media (max-width: 480px) {
  .services {
    height: 600vh;
  }
  .services .web-dev {
    height: 55vh;
  }
  .services .single-page-apps {
    height: 55vh;
  }
  .services .responsiveness {
    height: 55vh;
  }
  .services .seo {
    height: 55vh;
  }
  .services .user-friendly {
    height: 55vh;
  }
  .services .maintenance {
    height: 55vh;
  }
  .services .optimization {
    height: 55vh;
  }
  .services .theming {
    height: 60vh;
  }
  .services .animations {
    height: 60vh;
  }
}
/*CONTACT PAGE*/
.hero .contents {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.hero .contents .adress {
  padding-top: 20px;
}
.contacts {
  padding: 90px 120px 120px;
  background-color: var(--default-color);
  color: #fff;
}
.contacts .contents {
  display: flex;
}

.contacts .contents .message {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 70vh;
}
.contacts .contents form {
  display: flex;
  flex-direction: column;
}
.contacts .contents .message input {
  height: 6vh;
  border-radius: 10px;
}
.contacts .contents .message textarea {
  height: 12vh;
  border-radius: 10px;
}
.contacts .contents .message label {
  font-size: 16px;
  padding: 20px 0 10px;
}
.contacts .contents .message .btn-send {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 13vw;
  height: 10vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 30px;
}
.contacts .contents .message .btn-send:hover {
  background-color: var(--secondary-color);
  color: #0a0119;
}
.contacts .contents .Email {
  padding: 80px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.contacts .contents .Email a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.contacts .contents .Email h5 {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}
/*media queries*/
@media (max-width: 1000px) {
  .contacts .contents {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .contacts .contents .message {
    height: 80vh;
    width: 70vw;
  }
  .contacts .contents form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
  }
  .contacts .contents .message .btn-send {
    width: 70vw;
    margin: 0 auto;
  }
  .contacts .contents .message form input {
    width: 70vw;
  }
  .contacts .contents .message form textarea {
    width: 70vw;
  }
  .contacts .contents .message form label {
    padding: 30px 0 10px;
    text-align: center;
  }
  .contacts .contents .Email {
    gap: 70px;
  }
}
@media (max-width: 900px) {
  .hero {
    height: 25vh;
  }
  .hero h1 {
    width: 50vw;
  }
  .hero .contents {
    width: 60%;
  }
  .hero .contents .adress {
    padding: 0;
  }
  .hero .contents .github,
  .linkldin a {
    width: 10vw;
    height: 10vh;
  }
}
@media (max-width: 600px) {
  .hero {
    height: 30vh;
  }
  .hero .contents {
    width: 100%;
  }
  .contacts {
    width: 100vw;
    padding: 20px 20px 0 0;
  }
  .contacts .contents form {
    width: 100vw;
  }
  .contacts .contents .message .btn-send {
    width: 100%;
  }
  .contacts .contents .message form input {
    width: 95%;
  }
  .contacts .contents .message form textarea {
    width: 95%;
  }
}
@media (max-width: 450px) {
  .hero {
    height: 30vh;
  }
  .hero h1 {
    width: 60%;
  }
  .contacts {
    height: 150vh;
    padding: 0;
  }
  .contacts .contents .message {
    width: 100vw;
    height: 100vh;
  }
  .contacts .contents .message h2 {
    width: 100%;
    text-align: center;
  }
  .contacts .contents .message form {
    height: 60vh;
  }
  .contacts .contents .Email {
    padding: 0;
  }
  .hero .contents .adress {
    padding-top: 10px;
  }
  .hero .contents .github,
  .linkldin a {
    width: 10vw;
    height: 10vh;
  }
}
/*PROJECTS PAGE*/
.projects .my-projects {
  padding: 20px 120px 120px;
  background-color: var(--default-color);
  color: #ddd;
}
.projects .my-projects .role-model {
  display: flex;
  justify-content: space-between;
  width: 105%;
  height: 65vh;
  padding-top: 50px;
}
.projects .my-projects .role-model .contents {
  width: 50%;
  height: 60vh;
}
.projects .my-projects .role-model .image {
  width: 40vw;
  height: 50vh;
}
.projects .my-projects .accessory-web {
  display: flex;
  justify-content: space-between;
  width: 105%;
  height: 55vh;
}
.projects .my-projects .accessory-web .contents {
  width: 50%;
  height: 60vh;
}
.projects .my-projects .accessory-web .image {
  width: 40vw;
  height: 50vh;
}
.projects .my-projects .weather-web {
  display: flex;
  justify-content: space-between;
  width: 105%;
  height: 100vh;
}
.projects .my-projects .weather-web .contents {
  width: 50%;
  height: 60vh;
}
.projects .my-projects .weather-web .image {
  width: 40vw;
  height: 55vh;
}
.projects .my-projects .decorations-app {
  display: flex;
  justify-content: space-between;
  height: 55vh;
  width: 105%;
}
.projects .my-projects .decorations-app .contents {
  width: 50%;
  height: 60vh;
}
.projects .my-projects .decorations-app .image {
  width: 40vw;
  height: 50vh;
}
.projects .my-projects .contents {
  width: 50%;
  margin-bottom: 45px;
}
.projects .my-projects .contents p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;
}
.projects .my-projects .contents a {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15vw;
  height: 10vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
}
.projects .my-projects .contents a:hover {
  background-color: var(--secondary-color);
  color: #0a0119;
}
@media (max-width: 1330px) {
  .projects .my-projects .role-model {
    height: 35vh;
  }
  .projects .my-projects .accessory-web {
    height: 35vh;
  }
  .projects .my-projects .decorations-app {
    height: 35vh;
  }
  .projects .my-projects .weather-web {
    height: 60vh;
  }
}
@media (max-width:1100px) {
  .projects .my-projects .role-model {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .projects .my-projects .role-model .contents {
    width: 100%;
    height: 35vh;
  }
  .projects .my-projects .role-model .contents a {
    width: 50%;
  }
  .projects .my-projects .role-model .image {
    width: 100%;
  }
   .projects .my-projects .accessory-web {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .projects .my-projects .accessory-web .contents {
    width: 100%;
    height: 35vh;
  }
  .projects .my-projects .accessory-web .contents a {
    width: 50%;
  }
  .projects .my-projects .accessory-web .image {
    width: 100%;
  }
   .projects .my-projects .decorations-app {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .projects .my-projects .decorations-app .contents {
    width: 100%;
    height: 35vh;
  }
  .projects .my-projects .decorations-app .contents a {
    width: 50%;
  }
  .projects .my-projects .decorations-app .image {
    width: 100%;
  }
  .projects .my-projects .weather-web {
    display: flex;
    flex-direction: column;
    height: 120vh;
    gap: 20px;
  }
  .projects .my-projects .weather-web .contents {
    width: 100%;
    height: 30vh;
  }
  .projects .my-projects .weather-web .contents a {
    width: 50%;
  }
  .projects .my-projects .weather-web .image {
    width: 100%;
  }
}
@media (max-width:720px) {
   .projects .my-projects .role-model {
    height: 90vh;
    padding-bottom: 100px;
  }
  .projects .my-projects h1 {
    width: 60%;
  }
  .projects .my-projects .accessory-web {
    height: 90vh;
    padding-top: 120px;
  }
  .projects .my-projects .decorations-app {
    height: 90vh;
    padding-top: 120px;
  }
  .projects .my-projects .weather-web {
    height: 120vh;
    padding-top: 120px;
  }
}
@media (max-width:500px) {
  .projects .my-projects {
    padding: 20px 10px 20px 10px;
    height: 415vh;
  }
  .projects .my-projects .role-model .image {
    width: 95%;
  }
  .projects .my-projects .accessory-web .image {
    width: 95%;
  }
  .projects .my-projects .decorations-app .image {
    width: 95%;
  }
  .projects .my-projects .weather-web .contents {
    height: 50vh;
  }
  .projects .my-projects .weather-web {
    height: 100vh;
  }
  .projects .my-projects .weather-web  {
    width: 99%;
  }
}
/*FOOTER SECTION*/
footer {
  text-align: center;
  background-color: #0a0119;
  width: 100vw;
  height: 40vh;
  color: #ddd;
}
footer h2 {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  font-size: 20px;
  margin-bottom: 30px;
}
footer h3 {
  font-size: 18px;
}
footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  gap: 70px;
}
footer .social-links a {
  border-radius: 20%;
  text-decoration: none;
}
footer p {
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  
  footer .social-links {
    gap: 50px;
  }
  
}
